DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/database
DATABASE_USER=hrms
DATABASE=hrms
DATABASE_PASSWORD=your_password
BUCKET0_ACCESS_KEY=bucket_key
BUCKET0_SECRET_KEY=secret_key
BUCKET0_BUCKET=hrms-bucket
BUCKET0_ENDPOINT=https://s3.bucket0.com